html {
    color: #0E0E0E;
    background-color: #F0F0F0;
    font-family: Helvetica, sans-serif;
    height: 100%;
    font-size: 16pt;
}

a:link {
    color: #4E6EFF;
}

a:active {
    color: #6E90FF;
}

a:visited {
    color: #4E2EBB;
}

a:hover {
    color: #6E90FF;
}

body {
    width: 800px;
    margin: 0 auto;
}

header nav {
    background-color: #DDDDDD;
    text-align: center;
    margin: 0.75em 0;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: block;
}

header nav li {
    display: inline-block;
    margin: 0 0.25em;
}

header nav li a:link {
    display: inline-block;
    padding: 0.75em 1.5em 0.5em 1.5em;
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 0.25em solid transparent;
}

header nav li a:visited {
    color: #333333;
}

header nav li a:hover {
    background-color: #EEEEEE;
    color: #111111;
    border-color: #BBBBBB;
}

.playfield {
    margin: 0 auto;
    width: 640px; /* HACK */
}

.playfield.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.notification {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0.5em 1.5em;
    text-align: center;

    box-shadow:         0px 8px 8px black;
    -o-box-shadow:      0px 8px 8px black;
    -moz-box-shadow:    0px 8px 8px black;
    -webkit-box-shadow: 0px 8px 8px black;

    transition:         opacity 0.3s ease-in-out;
    -o-transition:      opacity 0.3s ease-in-out;
    -moz-transition:    opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;

}

.notification.error {
    background-color: #DD2222;
    color: #FFFFFF;
    font-weight: normal;
}

.social {
    position: absolute;
    top: 0;
    margin-left: 810px;
    margin-top: 0.75em;
    line-height: 2.5em;
}

.social img {
    vertical-align: bottom;
}

.now-playing {
    color: #888888;
    font-style: italic;
    font-weight: 100;
}

.now-playing .map {
    color: #CCCCCC;
    font-style: normal;
    font-weight: normal;
}
