[submodule "vendor/q"]
	path = vendor/q
	url = https://github.com/strager/q.git
[submodule "vendor/packo-sprite"]
	path = vendor/packo-sprite
	url = https://github.com/strager/packo-sprite.git
[submodule "vendor/unrequirejs"]
	path = vendor/unrequirejs
	url = git://github.com/sibblingz/unrequirejs.git
[submodule "vendor/mpm"]
	path = vendor/mpm
	url = https://github.com/davejkiger/mysql-php-migrations.git
